.EstimateCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin: 20px;
    border-radius: 4px;
}

.estimate-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.header-title {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
}