@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Calculator {
    margin: 0 40px;
}

.header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.calculator-title {
    font-family: 'Nunito';
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.calculator-title:hover {
    cursor: pointer;
}

.estimates-btn {
    background-image: url('../images/list.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

.estimates-btn:hover {
    cursor: pointer;
}

.estimates-label {
    position: absolute;
    right: 10px;
    top: 50px;
    font-size: 12px;
    color: white;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
}

.route-title {
    position: relative;
    top: -20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Nunito';
    font-weight: bold;
    text-transform: uppercase;
}

.route-container {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1100px) {
    .Calculator {
        margin: 0 20px;
    }
}

@media screen and (max-width: 650px) {

    .Calculator {
        margin: 0 5px;
    }

    .calculator-title {
        font-size: 12px;
    }

    .route-title {
        top: 10px;
    }

    .estimates-btn {
        width: 20px;
        height: 20px;
    }
}

