@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Home {
    background-image: url(https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyYm9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.title {
    position: absolute;
    margin: 10px;
    left: 30px;
    color: white;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 50px;
}

.estimate-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.estimate-link {
    background-color: white;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    text-decoration: none;
    border-radius: 20%;
    height: 200px;
    width: 200px;
}

.electricity-link {
    background-image: url('../images/plugin.png');
    background-size: 70%;
}

.flights-link {
    background-image: url('../images/plane.png');
    background-size: 65%;
}

.vehicle-link {
    background-image: url('../images/car.png');
    background-size: 75%;
}

.shipping-link {
    background-image: url('../images/package-box.png');
    background-size: 75%;
}

.estimate-link:hover::after {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 16px;
    color: black;
    margin-top: 12px;
}

.electricity-link:hover::after {
    content: "ELECTRICITY";
}

.flights-link:hover::after {
    content: "FLIGHTS";
}

.vehicle-link:hover::after {
    content: "VEHICLE";
}

.shipping-link:hover::after {
    content: "SHIPPING";
}

@media screen and (max-width: 850px) {

    .Home {
        height: auto;
    }

    .estimate-links {
        flex-direction: column;
        margin-top: 90px;
    }

    .estimate-link {
        margin: 20px 0;
    }

}

@media screen and (max-width: 650px) {

    .title {
        font-size: 20px;
    }

    .estimate-links {
        margin-top: 70px;
    }

    .estimate-link {
        background-position: 50% 50%;
    }
}
