@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.form-container {
    position: absolute;
    top: 100px;
    background-color: rgb(0, 0, 0);
    width: 35%;
    border-radius: 8px;
    padding: 20px;
}

.loader {
    font-family: 'Nunito';
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px;

}

.loader::after {
    content: ".";
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        content: "."
    }

    25% {
        content: ".."
    }

    50% {
        content: "..."
    }

    75% {
        content: "...."
    }

    100% {
        content : "....."
    }
    
} 


form {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.input-container label {
    position: absolute;
    top: -25px;
    font-family: 'Nunito';
    font-size: 20px;
    margin-right: 5px;
    color: white;
}

.input-container select {
    width: 200px;
    height: 25px;
    z-index: 10;
}

.input-container input {
    width: 190px;
}

.form-submit {
    font-family: 'Nunito';
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(218, 218, 218);
    border: 2px solid white;
    border-radius: 2px;
    transition-duration: 300ms;
}

.form-submit:hover {
    cursor: pointer;
    color: white;
}

.search-results {
    position: absolute;
    top: 30px;
    z-index: 20;
    width: 180px;
    padding: 5px;
    border: 1px solid rgba(126, 126, 126, 0.432);
    background-color: white;
}

.search-result {
    padding: 3px;
}

.search-result:hover {
    background-color: rgba(42, 42, 189, 0.37);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .form-container {
        width: 20%;
    }

    .input-container input {
        width: 150px;
    }

    .input-container select {
        width: 160px;
    }
}

@media screen and (max-width: 850px) {

    .form-container {
        width: 30%;
    }

    .input-container input {
        width: 180px;
    }

    .input-container select {
        width: 190px;
    }

}

@media screen and (max-width: 650px) {

    .form-container {
        width: 50%;
        margin-top: 30px;
    }

    .input-container input {
        width: 150px;
    }

    .input-container select {
        width: 160px;
    }

}